@import './prime-vue-override.css';

:root {
  --main-blue: #1d57dd;
  --main-dark-blue: #2046b3;
  --main-red: #ff3f89;
  --dark-gray: #4a566a;
  --light-gray: #EAEAEA;
  --lightest-gray: #F3F3F3;
  --main-black: #020202;

  --green: #609966;
  --dark-green: #40513B;
  --apple-green: #9DC08B;
  --beige-green: #EDF1D6;
  --lemon-green: #B2FF66;
  --white: #fff;

  --lumDark: 45%;
  --lumLight: 80%;

  --gap-xl: 100px;
  --gap-l: 70px;
  --gap-m: 50px;
  --gap: 30px;
  --gap-s: 20px;
  --gap-xs: 10px;

  --border-radius-s: 4px;
  --border-radius: 6px;
  --border-radius-m: 8px;
  --border-radius-l: 10px;

  --header-z-index: 100;
  --side-nav-z-index: 50;

  --side-nav-width: 300px;
  --header-height: 80px;

  /* theme */
  --primary: var(--lemon-green);
  --secondary: var(--main-black);
  --disable: var(--light-gray);
  --background-color: var(--white);
  --text-color: var(--main-black);
  --placeholder-color: var(--light-gray);
}

html,
body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text-colory);
  * { box-sizing: border-box; }
}
body {
  /* overflow: auto; */
  min-height: 100vh;
  width: 100%;
}

#app {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background-color: var(--secondary);
  /* transform: translate(0, -50%); */
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* input override */
input,
textarea {
  padding: calc(.5em - 1px) calc(.625em - 1px);
  width: 100%;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: var(--border-radius);
  color: var(--main-black);
}

::-webkit-scrollbar {
  width: 5px;
  /* 세로축 스크롤바 길이 */
  height: 5px;
  /* 가로축 스크롤바 길이 */
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--light-gray);
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button:start {
  border-radius: 5px 5px 0 0;
}

::-webkit-scrollbar-button:end {
  /* Bottom, Right 방향의 이동버튼 */
  border-radius: 0 0 5px 5px;

}

.-page-wrap { width: 100%; }

.-required {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    top: 0px;
    left: calc(100% + 5px);
    font-size: 15px;
    color: var(--main-red);
    height: 100%;
  }
}

.button-area {
  display: flex;
  gap: var(--gap-xs);
  justify-content: center;
}

/* button */
.link-button {
  display: inline-block;
  padding: 0 var(--gap);
  min-width: 150px;
  height: 45px;
  background-color: #fff;
  border: 1px solid var(--main-blue);
  border-radius: 45px;
  color: var(--main-blue);
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  transition: all .2s;
}

.link-button:hover {
  color: var(--white);
  font-weight: 500;
  background-color: var(--main-blue);
}

.link-button.-blue {
  color: var(--white);
  background-color: var(--main-blue);
}

.link-button.-gray {
  color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  background-color: var(--white);
}

.link-button.-gray:hover {
  color: hsl(var(--dark-gray), var(--lumDark));
}