/* 버튼 */
.p-button {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-color);
  &:focus {
    box-shadow: none;
  }
  &.p-button-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--white);
  }
  &.p-button-warning {
    background-color: var(--pastel-orange);
    border-color: var(--pastel-orange);
    color: var(--text-color);
  }
}

/* Input Text */
.p-inputtext {
  &:focus { box-shadow: none; }
}

/* Pannel Menu */
.p-panelmenu {
  .p-panelmenu-header {
    & .p-panelmenu-header-content {
      background: transparent;
      border: none;
    }

    .p-panelmenu-header-action {
      color: var(--white);
    }
  }
  .p-panelmenu-content { 
    background: transparent;
    border: none;
    color: var(--white);
    .p-menuitem {
      * { color: var(--white); }
      &.p-focus {
        * {
          color: var(--primary);
          background-color: transparent;
          font-weight: bold;
        }
      }
      .p-menuitem-content {
        color: var(--white);
        &:hover {
          background-color: transparent;
        }
      }
      .p-menuitem-link { 
        color: var(--white);
      }
    }
  }
}

/* File Upload */
.p-fileupload {
  &.p-fileupload-advanced {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    .p-fileupload-buttonbar {
      display: flex;
      justify-content: center;
      padding: 0; 
      background: none;
      border: none;
    }
    .p-fileupload-content { padding: 15px; border: none; }
  }
}

/* Badge */
.p-badge {
  &.p-badge-warning { background-color: var(--pastel-orange); color: var(--white); }
}